--
-- PostgreSQL database dump
--

\restrict 7TKv4G3EaFujuYQIBEgnSQhHGQxubNeXlM7UmY6m7t8110lZFN55yccpxIHzIGO

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Albums; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."Albums" (
    "Id" integer NOT NULL,
    "Title" character varying(160) NOT NULL,
    "Price" numeric NOT NULL,
    "GenreId" integer NOT NULL,
    "ArtistId" integer NOT NULL,
    "CreatedBy" text,
    "UpdatedBy" text,
    "AlbumArtUrl" character varying(512),
    "Code" character varying(20) NOT NULL,
    "ProductClass" character varying(50) NOT NULL,
    "Stock" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Albums" OWNER TO musicuser;

--
-- Name: Albums_Id_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."Albums" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Albums_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Artists; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."Artists" (
    "Id" integer NOT NULL,
    "Name" character varying(100) NOT NULL,
    "ImageUrl" character varying(512)
);


ALTER TABLE public."Artists" OWNER TO musicuser;

--
-- Name: Artists_Id_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."Artists" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Artists_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO musicuser;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO musicuser;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO musicuser;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" character varying(128) NOT NULL,
    "ProviderKey" character varying(128) NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO musicuser;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO musicuser;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" character varying(128) NOT NULL,
    "Name" character varying(128) NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO musicuser;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO musicuser;

--
-- Name: CartItems; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."CartItems" (
    "Id" integer NOT NULL,
    "CartId" character varying(256) NOT NULL,
    "AlbumId" integer NOT NULL,
    "Quantity" integer NOT NULL,
    "DateCreated" timestamp with time zone NOT NULL
);


ALTER TABLE public."CartItems" OWNER TO musicuser;

--
-- Name: CartItems_Id_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."CartItems" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."CartItems_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Genres; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."Genres" (
    "Id" integer NOT NULL,
    "Name" character varying(100) NOT NULL,
    "ImageUrl" character varying(512)
);


ALTER TABLE public."Genres" OWNER TO musicuser;

--
-- Name: Genres_Id_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."Genres" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Genres_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: OrderDetails; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."OrderDetails" (
    "Id" integer NOT NULL,
    "OrderId" integer NOT NULL,
    "AlbumId" integer NOT NULL,
    "Quantity" integer NOT NULL,
    "UnitPrice" numeric NOT NULL
);


ALTER TABLE public."OrderDetails" OWNER TO musicuser;

--
-- Name: OrderDetails_OrderDetailId_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."OrderDetails" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."OrderDetails_OrderDetailId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Orders; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."Orders" (
    "OrderId" integer NOT NULL,
    "Username" text DEFAULT ''::text,
    "Total" numeric NOT NULL,
    "OrderDate" timestamp with time zone NOT NULL,
    "Address" text DEFAULT ''::text,
    "Email" text DEFAULT ''::text,
    "City" text,
    "Country" text,
    "FirstName" text,
    "LastName" text,
    "PaymentMethod" text,
    "Phone" text,
    "PostalCode" text,
    "State" text,
    "CreatedBy" text,
    "UpdatedBy" text
);


ALTER TABLE public."Orders" OWNER TO musicuser;

--
-- Name: Orders_OrderId_seq; Type: SEQUENCE; Schema: public; Owner: musicuser
--

ALTER TABLE public."Orders" ALTER COLUMN "OrderId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Orders_OrderId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: musicuser
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO musicuser;

--
-- Data for Name: Albums; Type: TABLE DATA; Schema: public; Owner: musicuser
--



--
-- Data for Name: Artists; Type: TABLE DATA; Schema: public; Owner: musicuser
--



--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
4edb970e-cbcb-4748-9bb3-4ca4e5431d5e	Admin	ADMIN	\N
96be8f79-7c7a-48e8-a300-912536cff5f1	Customer	CUSTOMER	\N
edd03861-b693-49f0-b440-831f18ed2ebd	Guest	GUEST	\N
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
b29b0385-66cc-488e-b9e7-d118d2ed57c7	4edb970e-cbcb-4748-9bb3-4ca4e5431d5e
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."AspNetUsers" ("Id", "UserName", "NormalizedUserName", "Email", "NormalizedEmail", "EmailConfirmed", "PasswordHash", "SecurityStamp", "ConcurrencyStamp", "PhoneNumber", "PhoneNumberConfirmed", "TwoFactorEnabled", "LockoutEnd", "LockoutEnabled", "AccessFailedCount") FROM stdin;
b29b0385-66cc-488e-b9e7-d118d2ed57c7	admin@musicstore.local	ADMIN@MUSICSTORE.LOCAL	admin@musicstore.local	ADMIN@MUSICSTORE.LOCAL	t	AQAAAAIAAYagAAAAEMdC8xdMI8auEfJtfwRZg01EzUh+3wgzd1c0W59oakUHBxZLoqZM1Emm85YiMXspNg==	2YSNU5IVKKAEFGNRYMDOHEXIVFINEZTE	bab9a714-d67a-40a1-96ce-2bceca207448	\N	f	f	\N	t	0
\.


--
-- Data for Name: CartItems; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."CartItems" ("Id", "CartId", "AlbumId", "Quantity", "DateCreated") FROM stdin;
2	b29b0385-66cc-488e-b9e7-d118d2ed57c7	75	1	2026-04-28 22:58:14.822863+00
\.


--
-- Data for Name: Genres; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."Genres" ("Id", "Name", "ImageUrl") FROM stdin;
1	Bucket Hat	\N
2	Curva	\N
3	Otros	\N
4	Plana	\N
5	Trucker	\N
\.


--
-- Data for Name: OrderDetails; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."OrderDetails" ("Id", "OrderId", "AlbumId", "Quantity", "UnitPrice") FROM stdin;
1	1	78	1	180.00
\.


--
-- Data for Name: Orders; Type: TABLE DATA; Schema: public; Owner: musicuser
--

COPY public."Orders" ("OrderId", "Username", "Total", "OrderDate", "Address", "Email", "City", "Country", "FirstName", "LastName", "PaymentMethod", "Phone", "PostalCode", "State", "CreatedBy", "UpdatedBy") FROM stdin;
1	admin@musicstore.local	180.00	2026-04-28 22:31:01.731628+00	\N	\N	\N	\N	\N	\N	Tarjeta	\N	\N	\N	\N	\N
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: musicuser
--



--
-- Name: Albums_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."Albums_Id_seq"', 83, true);


--
-- Name: Artists_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."Artists_Id_seq"', 15, true);


--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: CartItems_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."CartItems_Id_seq"', 2, true);


--
-- Name: Genres_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."Genres_Id_seq"', 5, true);


--
-- Name: OrderDetails_OrderDetailId_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."OrderDetails_OrderDetailId_seq"', 1, true);


--
-- Name: Orders_OrderId_seq; Type: SEQUENCE SET; Schema: public; Owner: musicuser
--

SELECT pg_catalog.setval('public."Orders_OrderId_seq"', 1, true);


--
-- Name: Albums PK_Albums; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."Albums"
    ADD CONSTRAINT "PK_Albums" PRIMARY KEY ("Id");


--
-- Name: Artists PK_Artists; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."Artists"
    ADD CONSTRAINT "PK_Artists" PRIMARY KEY ("Id");


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: CartItems PK_CartItems; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "PK_CartItems" PRIMARY KEY ("Id");


--
-- Name: Genres PK_Genres; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."Genres"
    ADD CONSTRAINT "PK_Genres" PRIMARY KEY ("Id");


--
-- Name: OrderDetails PK_OrderDetails; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."OrderDetails"
    ADD CONSTRAINT "PK_OrderDetails" PRIMARY KEY ("Id");


--
-- Name: Orders PK_Orders; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "PK_Orders" PRIMARY KEY ("OrderId");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_Albums_ArtistId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_Albums_ArtistId" ON public."Albums" USING btree ("ArtistId");


--
-- Name: IX_Albums_Code; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE UNIQUE INDEX "IX_Albums_Code" ON public."Albums" USING btree ("Code");


--
-- Name: IX_Albums_GenreId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_Albums_GenreId" ON public."Albums" USING btree ("GenreId");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_CartItems_AlbumId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_CartItems_AlbumId" ON public."CartItems" USING btree ("AlbumId");


--
-- Name: IX_CartItems_CartId_AlbumId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_CartItems_CartId_AlbumId" ON public."CartItems" USING btree ("CartId", "AlbumId");


--
-- Name: IX_OrderDetails_AlbumId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_OrderDetails_AlbumId" ON public."OrderDetails" USING btree ("AlbumId");


--
-- Name: IX_OrderDetails_OrderId; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE INDEX "IX_OrderDetails_OrderId" ON public."OrderDetails" USING btree ("OrderId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: musicuser
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: Albums FK_Albums_Artists_ArtistId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."Albums"
    ADD CONSTRAINT "FK_Albums_Artists_ArtistId" FOREIGN KEY ("ArtistId") REFERENCES public."Artists"("Id") ON DELETE RESTRICT;


--
-- Name: Albums FK_Albums_Genres_GenreId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."Albums"
    ADD CONSTRAINT "FK_Albums_Genres_GenreId" FOREIGN KEY ("GenreId") REFERENCES public."Genres"("Id") ON DELETE RESTRICT;


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: CartItems FK_CartItems_Albums_AlbumId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "FK_CartItems_Albums_AlbumId" FOREIGN KEY ("AlbumId") REFERENCES public."Albums"("Id") ON DELETE CASCADE;


--
-- Name: OrderDetails FK_OrderDetails_Albums_AlbumId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."OrderDetails"
    ADD CONSTRAINT "FK_OrderDetails_Albums_AlbumId" FOREIGN KEY ("AlbumId") REFERENCES public."Albums"("Id") ON DELETE CASCADE;


--
-- Name: OrderDetails FK_OrderDetails_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: musicuser
--

ALTER TABLE ONLY public."OrderDetails"
    ADD CONSTRAINT "FK_OrderDetails_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("OrderId") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 7TKv4G3EaFujuYQIBEgnSQhHGQxubNeXlM7UmY6m7t8110lZFN55yccpxIHzIGO

